**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
pnpm-debug.log*
coverage
*.info
costs-reports.json
node_modules
tests/rv/deployments/
tests/rv/.cache/
.rendezvous-regressions/
